@charset "utf-8";
/* CSS Document */

@import url(standard.css);

.wrapper{
	max-width: 1280px;
	margin: 0 auto;
}
.center{
	float: none;
	margin: 0 auto;
	text-align: center;
}

/*Header*/

header h1{
	font-size: 48px;
	color: #fff;
	position: absolute;
	margin-left: 1em;
}

header p{
	font-style: italic;
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	position: absolute;
	bottom: 10px;
	left: 150px;
}

header{
	font-family: 'Anton', sans-serif;
	margin-bottom: 5em !important;
	max-height: 384px;
}
header img{
	height: 100% !important;
}

header div{
	position: relative;
	max-height: 384px;
}


/*Header slut*/

/* nav */

nav{
	position: fixed;
	top: 50px;
	right: 0px;
	width: 20%;
	transition: 0.5s linear;
	border-radius: 10px 0px 0px 10px;
	z-index: 10;
	color: #FFF;
}

.culor{
	background-color: #07689c;
}

nav div{
	border-radius: 25px 0px 0px 25px;
	background-color: #07689c;
	padding: 1%;

}

nav img{
	width: 20%;
	float: left;
	padding: 1%;
	cursor: pointer;
}

nav p{
	margin-top: 0.25em;
	font-size: 30px !important;
	margin-left: 2%;
	padding-bottom: 0px !important;
	padding-top: 0.25em ;
}

nav ul{
	border-radius: 10px 0px 0px 25px;
	background-color: #07689c;
	padding: 5%;
	transition: 0.5s ease-out;
	
}

.hidden{
	transform: translateX(125px);
	background-color: none !important;
}

.hidden ul{
	transform: translateX(400px);
}

a{
	text-decoration: none;
	color: #fff;
}
li{
	margin-bottom: 0.5em !important;
	font-size: 25px;
	transition: 0.3s linear;
	list-style: none;
	text-align: end;
	
}
li a{
	width: 100%;
	display: block;
}

a:hover{
	text-decoration: underline;
}

/* nav slut */
/*Main*/

main p{
	font-size: 35px;
	font-weight: bold;
}

main{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 2em !important;
}

/*Main slut*/

/* footer */

footer h3{
	text-align: left;
	font-size: 35px;
	margin-bottom: 0.5em;
}


footer div div h3{
	font-size: 25px;
	text-align: center;
}

footer p{
	text-align: center;
	font-size: 20px;
}

footer div div{

background-color: rgba(0, 0, 0, 0.5);

}

#search2 input, #search2 button{
	padding: 1%;
	border-radius: 10px;
	font-size: 18px;
}

#footer_bg{
	background-image: url('footer.jpg');
	padding-top:10em; 
	padding-bottom: 10em;
	background-size: cover;
	color: #fff;
	background-repeat: no-repeat;
}

/* underside */

.underside{
	color: #000;
	position: relative;
}

h2{
	font-size: 45px;
	text-align: center;
}
.underside h3{
	font-size: 40px;
	text-align: center;
}

.underside p{
	font-size: 25px !important;
	line-height: 2em;
	text-align: left;
}

.underside a{
	color: #000 !important;
}

.underside sektion{
	margin-bottom: 2em;
	
}

.underside img{
	border-radius: 100%;
}

.underside .col12{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50px;
	padding: 1em;
}
/* underside slut */

@media screen and (max-width:1024px){
    [class*="col"] {
        float:none;
        width:90%;
		margin:0 auto;
		display: block;
		text-align: center !important;
	}
	
	.hidden{
		transform: translateX(80px);
	}

	nav div p{
		margin-top: 0px;
		padding-top: 0px;
	}

}

@media screen and (max-width:768px){

	.hidden{
		transform: translateX(40px);
	}

header h1{
	font-size: 30px;
}
header p{
	font-size: 20px;
}

}

@media screen and (max-width:450px){

nav p{
	font-size: 15px !important;
}

.hidden{
	transform: translateX(25px);
}

nav ul li{
	font-size: 15px;
}

header h1{
	font-size: 20px;
}
header p{
	font-size: 10px;
	left: 80px;
}

}